footer {
  width:100%;
  height:60px;
    background-color: aquamarine;
}

body{height: auto;}

.footer-link{
  padding: 5px;
  font-weight: bold;
  color: black;}

.bigSpace{
  padding-right: 250px;
}

.icon{
  font-size: 20px;
  padding: 10px;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  color: #fefefe;
}

.footer-text{
  font-weight: 600;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  color: #fefefe;
}

.menuName{
  font-size: 40px;
  color:#fefefe;
  font-family: fantasy;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;}