.navbar{
  background-color: aquamarine;
  padding:10px;
}
.links{
  background-color: white;
color:black;
border-color: grey;
height: 35px;
}
.icon{
  color: #fefefe;
  font-weight: 700;
  font-size: 40px;
  display: inline;
  padding: 10px;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
.menu-text{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.menuName{
  font-size: 40px;
  color:#fefefe;
  font-family: fantasy;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;}